@charset "UTF-8";

@font-face {
    font-family: 'NanumBarunGothic';
    src: url('/fonts/NanumBarunGothic.eot');
    src: url('/fonts/NanumBarunGothic.eot') format('embedded-opentype'),
        url('/fonts/NanumBarunGothic.woff') format('woff');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
        url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
        url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}


.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 60px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.hidden {
    position: absolute;
    left: -9999em;
}

#wrap {
    margin: 30px auto;
    overflow-y: hidden;
}

.cell {
    display: table-cell;
    vertical-align: middle;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

body {
/*    font-family: 'Poppins', sans-serif;*/
    font-family: "Wix Madefor Text", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: #000;
    word-break: keep-all;
}

h1 {
/*    font-family: 'Playfair Display', serif;*/
/*font-family: "Wix Madefor Text", sans-serif;*/
}

h3 {
    letter-spacing: 1px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
    margin: 20px 0;
}

h6 {
    margin: 15px 0;
}

.table {
/*    font-family: 'Poppins', sans-serif;*/
    font-size: 15px;
}

.table th {
    font-weight: 600;
}

ol>li {
    padding-bottom: 15px;
}

/*header*/

#header {
    padding: 50px 0 20px;
}

#header p {
    font-size: 20px;
    line-height: 30px;
}

@media only screen and (max-width: 450px) {
    #header {
        padding: 20px 10px;
    }

    #header h2 {
        line-height: initial;
        font-size: 20px;
    }
}


/*navigation*/

#myNav a,
.navbar-header a {
    color: #000;
    text-align: center;
}

#myNav .active {
    font-weight: 600;
    color: #016eb7;
}

#myNav .nav-link {
    position: relative;
    display: inline-block;
    /* Ensures the link can contain absolutely positioned elements */
    overflow: hidden;
    /* Prevents pseudo-element from being visible when scaled down */
    font-size: 15px;
    z-index: 1050;
}

#myNav .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    /* Adjust based on your design */
    left: 0;
    right: 0;
    height: 2px;
    /* Thickness of the underline */
    background-color: #016eb7;
    /* Color of the underline */
    transform: scaleX(0);
    /* Start scaled down to 0 */
    transform-origin: center;
    /* Scales from the center */
    transition: transform 0.5s ease;
    /* Smooth transition for the transform */
}

#myNav .nav-link:hover::after,
#myNav .nav-link:focus::after {
    transform: scaleX(1);
    /* Scale to full width on hover/focus */
}

.navbar-header span {
    background-color: #000;
}

.nav>li>a:focus {
    background-color: #fff;
}

.navbar-left a,
.navbar-right a {
    font-size: 15px;
}

.nav-middle {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    font-size: 28px;
    font-weight: 700;
}

.nav-item {
    padding-left: 12px;
    padding-right: 12px;
}


.navbar-toggler {
    z-index: 1040;
    border: none;
    margin-left: auto;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-nav .nav-link:focus {
    background-color: #fff;
}


.navbar-brand {
/*    font-family: 'Playfair Display', serif;*/
}

/* Ensure the navbar elements are vertically centered */
.navbar {
    display: flex;
    align-items: center;
}

.navbar-brand.nav-middle {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    font-size: 28px;
    font-weight: 700;
}


/* Custom media query for screens below 992px (typical laptop dimension) */
@media (max-width: 991.98px) {
    .navbar-brand.nav-middle {
        position: relative;
        /* Reset positioning */
        left: 0;
        /* Align to the left */
        transform: none;
        /* Remove any previous centering transform */
        width: auto;
        /* Allow natural width */
        text-align: left;
        /* Align text to the left */
        margin: auto 1em;
    }

    .nav-item {
        text-align: center;
    }
}

.align-brand {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .navbar-brand.nav-middle {
        width: 60%;
        font-size: 23px;
    }
}

/*contact*/

.forms {
    width: 50%;
/*    font-family: 'Poppins', sans-serif;*/
}

@media only screen and (max-width: 450px) {
    .forms {
        width: initial;
    }
}

/*work*/

.description {
    margin-top: 15px;
    text-align: left;
}

#work a {
    text-decoration: none;
    color: #000;
}

/*pursuits*/

#pursuits a {
    text-decoration: none;
    color: #000;
}

@media (min-width: 991.98px) {
    #pursuits h2 {
        font-size: 1.5rem;
    }
}

.hovereffect {
    position: relative;
    width: 100%;
}

.hovereffect:hover h2,
.hovereffect:hover p {
    color: var(--bs-gray-600);
}

.overlayWork {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 255, 255, 0.3);
}

.hovereffect:hover .overlayWork {
    opacity: 1;
}

.overlayText {
    color: #000;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.hovereffect:hover .overlayText {
    opacity: 1;

}

.overlayText h3 {
    font-size: 20px;
    text-transform: uppercase;
}

.overlayMobile {
    display: none;
    margin: 10px;
    margin: 20px 20px 10px;
    color: #000;
}

@media only screen and (max-width: 450px) {
    .overlayWork {
        display: none;
    }

    .overlayMobile {
        display: inline-block;
    }
}

/*work detail pages*/

.workDetail .container-fluid:last-of-type {
    padding-bottom: 70px;
}

@media only screen and (max-width: 450px) {
    .vertical-align {
        display: block;
    }

    h1 {
        font-size: 30px;
        margin: 20px 0;
    }

    h2 {
        font-size: 20px;
        letter-spacing: 1px;
    }

    h3 {
        font-size: 24px;
        margin-top: 0;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 16px;
        margin: 15px auto;
    }

    .workDetail .container-fluid:last-of-type {
        padding-bottom: 30px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    #wrap {
        margin: 10px 0;
    }
}

.workDetail .container {
    max-width: 1000px;
    margin: 30px auto;
}

.workDetail .overview>div:first-of-type {
    margin-left: 0;
}

.workDetail h1,
.workDetail h2,
.workDetail h3 {
    text-align: center;
    margin: 50px auto;
}

.workDetail h2 {
    font-size: 20px;
    font-weight: 400;
}

.workDetail h3 {
/*    font-family: 'Playfair Display', serif;*/
}

.workDetail p {
    line-height: 25px;
    margin: 20px 0;
    font-size: 16px;
}

.workDetail a {
    color: #016eb7;
}

.workDetail a:hover {
    text-decoration: none;
    color: #757575;
}

.workDetail img {
    margin: 0 auto;
}

.workDetail .keywords {
    color: #016eb7;
    font-size: 18px;
}


.workDetail .head {
/*    font-family: 'Poppins', sans-serif;*/
    letter-spacing: 2px;
    color: #016eb7;
    text-transform: uppercase;
    margin: 20px 0;
}

.workDetail .nospace {
    margin-bottom: 0;
}

.workDetail .skills p {
/*    font-family: 'Poppins', sans-serif;*/
    text-transform: uppercase;
    font-weight: 600;
}

.workDetail .skills ul {
    line-height: 24px;
}

.workDetail .skills ul>li {
    padding: 0;
}

.workDetail ul {
/*    font-family: 'Poppins', sans-serif;*/
}

.workDetail ul>li {
    padding-bottom: 10px;
}

.workDetail ol>li li {
    padding-bottom: 0;
    padding-top: 10px;
}

.workDetail .nobullet {
    list-style-type: none;
}

.workDetail .workImage {
    margin: 50px 0;
}

.workDetail .workImage:last-child {
    margin: 10px 0 auto;
}

.workDetail .mockup {
    position: relative;
    margin: 0 auto;
}

.workDetail .image-title {
    text-align: center;
    font-style: italic;
    font-size: 17px;
    font-weight: 600;
}

.workDetail iframe {
    display: block;
    vertical-align: middle;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    /*.workDetail .row>div {
        margin: 5px auto;
    }*/
}

@media only screen and (min-width: 600px) {
    .workDetail .row>div {
        margin: 5px auto;
    }

    .display-flex-center {
        display: flex;
        align-items: center;
    }
}

@media only screen and (min-width: 1200px) {
    .workDetail {
        padding: 30px;
    }
}

/*myvoice page*/

.workDetail .btn {
/*    font-family: 'Poppins', sans-serif;*/
    font-size: 15px;
    border: 2px #016eb7 solid;
    background: #016eb7;
    border-radius: 30px;
    font-weight: 400;
    color: #fff;
    padding: 7px 12px;
    letter-spacing: 1px;
}

.workDetail .btn-block {
    padding: 15px 12px;
}

.workDetail .btn:hover {
    color: #000;
    background: transparent;
}

/*visual abstract pages*/

.workDetail .abstracts img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.workDetail .abstracts h2 {
/*    font-family: 'Poppins', sans-serif;*/
    text-align: center;
    margin: 30px auto 60px;
}

/*first paragraphs*/
.workDetail>.container-fluid>.container {
    margin-top: 0;
}

@media only screen and (max-width: 450px) {
    .workDetail .abstracts h2 {
        font-size: 15px;
        margin: 30px;
    }
}


/*canvas carousel*/

.carousel-indicators {
    filter: invert(100%);
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

@media only screen and (max-width: 450px) {
    .carousel-indicators {
        visibility: hidden;
    }
}

/*videos*/

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.work-nav .btn,
.pursuits-nav .btn {
/*    font-family: 'Poppins', sans-serif;*/
    font-size: 15px;
    border: 2px #000 solid;
    background: #000;
    border-radius: 30px;
    font-weight: 400;
    color: #fff;
    margin: 10px 10px 0 0;
    padding: 10px 12px;
    letter-spacing: 1px;
}

.work-nav .btn:hover,
.pursuits-nav .btn:hover {
    color: #000;
    background: transparent;
}

/*spoon videos*/

.spoonVideos p {
    font-size: 18px;
    margin: 0 0 15px;
}

/*about*/

.about {
    margin: auto 100px 100px 100px;
}

.about .desc {
    margin-top: 30px;
}

.about h4 {
    margin-top: 0;
}

.about .btn {
/*    font-family: 'Poppins', sans-serif;*/
    font-size: 15px;
    border: 2px #000 solid;
    background: #000;
    border-radius: 30px;
    font-weight: 400;
    color: #fff;
    margin: 10px 10px 0 0;
    padding: 10px 12px;
    letter-spacing: 1px;
}

.btn:hover {
    color: #000;
    background: transparent;
}

.about .skills {
    margin-top: 50px;
}

.skills p {
    color: #016eb7;
}

.skills ul {
    list-style-type: none;
/*    font-family: 'Poppins', sans-serif;*/
    padding: 0;
    /*    font-size: 15px;*/
}

.captions {
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    .about {
        margin: 0;
    }
}

@media only screen and (max-width: 450px) {
    .about h4 {
        margin-top: 10px;
    }

    .skills {
        margin-top: 20px;
    }

    .inner {
        margin: 10px auto;
    }
}

/*bottom nav*/

.index-navbar {
    margin-bottom: 50px;
    margin-top: 30px;
}

.index-navbar a {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 25px;
    color: #000;
    font-size: 18px;
    text-decoration: none;
/*    font-family: 'Poppins', sans-serif;*/
}

.index-navbar .active,
.index-navbar a:hover {
    color: #016eb7;
}

@media only screen and (max-width: 450px) {
    .index-navbar a {
        font-size: initial;
    }
}

/*back to top button*/

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    color: #fff;
}

.back-to-top i:hover {
    color: #016eb7;
    background: transparent;
}

.circle-icon {
    background: #016eb7;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    vertical-align: middle;
    border: 2px #016EB7 solid;
}

/*footer*/

footer p {
    font-size: 14px;
}

footer a {
    color: #000;
    text-decoration: none;
}


.social a {
    padding-right: 20px;
    color: #000;
    text-decoration: none;
}

.social a:hover {
    color: #016eb7;
}

.social a:last-of-type {
    padding-right: 0;
}